<ui:composition template="/templates/list.xhtml" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:rf="https://ritmico.dev/jsf/components">

	<ui:define name="content">
		<h:panelGroup layout="block" styleClass="card-body">
			<rf:breadcrumbs disabled="true">
				<li class="breadcrumb-item">
					<h:outputLink value="/classifier/entry.xhtml">
						<h:outputText value="#{navmsg['classifier.title']}"/>
					</h:outputLink>			
				</li>
				<li class="breadcrumb-item">
					<h:outputLink value="/classifier/territory/entry.xhtml">
						<h:outputText value="#{navmsg['classifier.section.territory']}"/>
					</h:outputLink>			
				</li>
				<ui:insert name="breadcrumbs"/>
			</rf:breadcrumbs>

			<h:form id="form">
				<h:panelGroup id="filterPanel" layout="block">
					<h:panelGroup styleClass="form-row" layout="block">
						<ui:insert name="filterPanel"/>
					</h:panelGroup>
				</h:panelGroup>
			</h:form>			
			
			<h:dataTable id="data-table" var="item" value="#{dataTableWebBean.dataModel}" columnClasses="d-none,none,none,none,none,none,none" styleClass="table table-sm table-hover thead-light">
				<h:column headerClass="d-none">
					<f:facet name="header">
						<h:outputText value="#{cmsg['props.id']}" />						
					</f:facet>
					<h:outputText value="#{item.id}" />
				</h:column>
				<h:column>
					<f:facet name="header">
						<rf:columnHeader value="#{cmsg['props.name']}" sortable="true" property="name"/>
					</f:facet>
					<h:outputText value="#{item.name}" />
		        </h:column>
				<ui:insert name="columns"/>
				<h:column headerClass="text-center">
					<f:facet name="header">
						<i class="fal fa-info fa-lg"></i>
					</f:facet>
					<rf:showDetail/>
				</h:column>
		        <h:column headerClass="text-center">		        
					<f:facet name="header">
						<i class="fas fa-ellipsis-h-alt"></i>
					</f:facet>		        
		        	<rf:actionDropDown itemId="#{item.id}">
		        		<h:outputText value="#{actions['action.edit']}" styleClass="dropdown-header"/>
	  					<h:link value="#{cmsg['contextMenu.properties']}" outcome="modification/common-properties.xhtml" styleClass="dropdown-item second">
	  						<f:param name="qualifier" value="countryWebFlow"/>
	  						<f:param name="flowStep" value="COMMONS"/>
	  						<f:param name="instanceId" value="#{item.id}"/>	  						  							
	  					</h:link>
	  					<div class="dropdown-divider"></div>
	  					<h:link value="#{actions['action.remove']}" outcome="removing.xhtml" styleClass="dropdown-item">
	  						<f:param name="instanceId" value="#{item.id}"/>
	  						<f:param name="entityName" value="Country"/>
	  					</h:link>
		        	</rf:actionDropDown>
		        </h:column>
			</h:dataTable>
		</h:panelGroup>
		<ui:insert name="detail"/>
	</ui:define>	

</ui:composition>