<ui:composition template="/templates/datalist.xhtml" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:rf="https://ritmico.dev/jsf/components">

	<f:metadata>
		<f:viewAction action="#{dataTableWebBean.prepare}">
			<f:viewParam name="entityName" value="#{dataTableWebBean.entityName}"/>
		</f:viewAction>
	</f:metadata>

	<ui:define name="title">
		<h:outputText value="#{clrmsg['continent.entityName.plural']}" />
	</ui:define>
	
	<ui:define name="breadcrumbs">
		<li class="breadcrumb-item active" aria-current="page">
			<h:outputText value="#{clrmsg['continent.entityName.plural']}"/>
		</li>	
	</ui:define>
	
	<ui:define name="columns">
		<h:column>
			<f:facet name="header">
				<f:facet name="header">
					<rf:columnHeader value="#{cmsg['props.naturalId']}" sortable="true" property="naturalId"/>
				</f:facet>
			</f:facet>
			<h:outputText value="#{item.naturalId}" />
        </h:column>
		<h:column>
			<f:facet name="header">
				<h:outputText value="#{clrmsg['continent.props.area']}" />
			</f:facet>
			<h:outputText value="#{item.area}" />
        </h:column>
		<h:column>
			<f:facet name="header">
				<h:outputText value="#{clrmsg['continent.props.population']}" />
			</f:facet>
			<h:outputText value="#{item.population}" />
        </h:column>
		<h:column>
			<f:facet name="header">
				<h:outputText value="#{cmsg['props.description']}" />
			</f:facet>
			<h:outputText value="#{item.description}" />
        </h:column>
	</ui:define>

</ui:composition>