<ui:composition template="/templates/basic-template.xhtml" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

	<ui:define name="title">
        Elekmonar Classifier
    </ui:define>

	<ui:define name="content">
		Справочники и классификаторы ...
	</ui:define>
	<ui:define name="javascript">

	</ui:define>
</ui:composition>