<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:rf="https://ritmico.dev/jsf/components" xmlns:rfcc="http://xmlns.jcp.org/jsf/composite/rfcc">

	<rfcc:readonlyText name="oksmCode" label="OKSM Code" value="#{removingBean.instance.oksmCOde}"/>
	<rfcc:readonlyText name="alpha2" label="Alpha2" value="#{removingBean.instance.alpha2}"/>
	<rfcc:readonlyText name="alpha3" label="Alpha3" value="#{removingBean.instance.alpha2}"/>
	
</ui:composition>