<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:rfcc="http://xmlns.jcp.org/jsf/composite/rfcc">
    
    <ui:decorate template="/decorators/detailModal.xhtml">        
        <rfcc:readonlyText name="id" label="#{cmsg['props.id']}" value="#{detailInfo.entity.id}"/>
        <rfcc:readonlyText name="name" label="#{cmsg['props.name']}" value="#{detailInfo.entity.name}"/>
        <rfcc:readonlyText name="naturalId" label="#{cmsg['props.label']}" value="#{detailInfo.entity.naturalId}"/>
        <rfcc:readonlyText name="oksmCode" label="#{clrmsg['country.props.oksmCode']}" value="#{detailInfo.entity.oksmCode}"/>
        <rfcc:readonlyText name="alpha2" label="#{clrmsg['country.props.alpha2']}" value="#{detailInfo.entity.alpha2}"/>
        <rfcc:readonlyText name="alpha3" label="#{clrmsg['country.props.alpha3']}" value="#{detailInfo.entity.alpha3}"/>
        <rfcc:readonlyText name="continent" label="#{clrmsg['continent.entityName']}" value="#{detailInfo.entity.continent.name}"/>
        <rfcc:readonlyTextarea name="description" label="#{cmsg['props.description']}" value="#{detailInfo.entity.description}"/>    
    </ui:decorate>
</ui:composition>