<ui:composition template="/templates/datalist.xhtml" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:rf="https://ritmico.dev/jsf/components">

	<f:metadata>
		<f:viewAction action="#{dataTableWebBean.prepare}">
			<f:viewParam name="entityName" value="#{dataTableWebBean.entityName}"/>
		</f:viewAction>
	</f:metadata>

	<ui:define name="title">
		<h:outputText value="Страны мира" />
	</ui:define>
	
	<ui:define name="breadcrumbs">
		<li class="breadcrumb-item active" aria-current="page">
			<h:outputText value="#{navmsg['classifier.countries']}"/>
		</li>	
	</ui:define>
	
	<ui:define name="filterPanel"> 
		<h:panelGroup styleClass="form-group col-md-4" layout="block">
			<h:outputLabel for="instanceSet" value="Множество"/>
			<h:selectOneMenu value="#{dataTableWebBean.filter.instanceSetId}"
							 id="instanceSet"
							 styleClass="form-control custom-select"
							 hideNoSelectionOption="false">
				<f:selectItem itemValue="#{null}" itemLabel="" noSelectionOption="true" />
				<f:selectItems value="#{dataTableWebBean.filter.instanceSets}" var="item" itemValue="#{item.id}" itemLabel="#{item.name}" noSelectionOption="true" />
				<f:ajax execute="@form" render="data-table" listener="#{dataTableWebBean.filter.changeInstanceSet}" onevent="ritmico.table.rerendered"/>
			</h:selectOneMenu>
		</h:panelGroup>
		<h:panelGroup styleClass="form-group col-md-4" layout="block">
			<h:outputLabel for="continent" value="Континент"/>
			<h:selectOneMenu value="#{dataTableWebBean.filter.continentId}"
							 id="continent"
							 styleClass="form-control custom-select"
							 hideNoSelectionOption="false">
				<f:selectItem itemValue="#{null}" itemLabel="" noSelectionOption="true" />
				<f:selectItems value="#{dataTableWebBean.filter.continents}" var="item" itemValue="#{item.id}" itemLabel="#{item.name}" noSelectionOption="true" />
				<f:ajax execute="@form" render="data-table" listener="#{dataTableWebBean.filter.changeContinent}" onevent="ritmico.table.rerendered"/>
			</h:selectOneMenu>
		</h:panelGroup>
		<h:panelGroup styleClass="form-group col-md-4" layout="block">
			<h:outputLabel for="lookupText" value="#{cmsg['props.lookupText']}"/>
			<h:inputText value="#{dataTableWebBean.filter.lookupText}" styleClass="form-control" id="lookupText">
				<f:ajax delay="300" event="keyup" execute="@form" render="data-table" listener="#{dataTableWebBean.filter.changeLookupText}" onevent="ritmico.table.rerendered"/>
			</h:inputText>
		</h:panelGroup>	
	</ui:define>
	
	<ui:define name="columns">
		<h:column>
			<f:facet name="header">
				<f:facet name="header">
					<rf:columnHeader value="#{cmsg['props.naturalId']}" sortable="true" property="naturalId"/>
				</f:facet>
			</f:facet>
			<h:outputText value="#{item.naturalId}" />
        </h:column>
		<h:column>
			<f:facet name="header">
				<h:outputText value="#{clrmsg['country.props.oksmCode']}" />
			</f:facet>
			<h:outputText value="#{item.oksmCode}" />
        </h:column>
		<h:column>
			<f:facet name="header">
				<h:outputText value="#{clrmsg['country.props.alpha2']}" />
			</f:facet>
			<h:outputText value="#{item.alpha2}" />
        </h:column>
		<h:column>
			<f:facet name="header">
				<h:outputText value="#{clrmsg['country.props.alpha3']}" />
			</f:facet>
			<h:outputText value="#{item.alpha3}" />
        </h:column>
		<h:column>
			<f:facet name="header">
				<h:outputText value="Континент" />
			</f:facet>
			<h:outputText value="#{item.continent.name}" />
        </h:column>
	</ui:define>
	
	<ui:define name="detail">
		<ui:include src="detail.xhtml"/>
	</ui:define>	

</ui:composition>