<ui:composition template="/templates/removing.xhtml" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:rf="https://ritmico.dev/jsf/components"
	xmlns:rfcc="http://xmlns.jcp.org/jsf/composite/rfcc">
	
	<ui:param name="i18nEntityName" value="Страны мира" />
	
	<ui:define name="metadata">
		<f:metadata>
			<f:viewAction action="#{removingBean.begin}">
				<f:viewParam name="entityName" value="#{removingBean.entityName}"/>
				<f:viewParam name="instanceId" value="#{removingBean.instanceId}"/>
			</f:viewAction>
		</f:metadata>
	</ui:define>	
	
	 
	<ui:define name="breadcrumbs">				
		<li class="breadcrumb-item">
			<h:outputLink value="/classifier/territory/entry.xhtml">
				<h:outputText value="#{navmsg['classifier.section.territory']}"/>
			</h:outputLink>			
		</li>
		<li class="breadcrumb-item">
			<h:outputLink value="/classifier/territory/country/list.xhtml">
				<h:outputText value="#{navmsg['classifier.countries']}"/>
				<f:param name="entityName" value="Country"/>
			</h:outputLink>						
		</li>			
		<li class="breadcrumb-item active" aria-current="page">
			<h:outputText value="#{removingBean.instance.name}"/>
		</li>
	</ui:define>
	
	
	<ui:define name="form-group">
		<rfcc:readonlyText name="oksmCode" label="OKSM Code" value="#{removingBean.instance.oksmCode}"/>
		<rfcc:readonlyText name="alpha2" label="Alpha2" value="#{removingBean.instance.alpha2}"/>
		<rfcc:readonlyText name="alpha3" label="Alpha3" value="#{removingBean.instance.alpha2}"/>
	</ui:define>
	
</ui:composition>