<ui:composition template="/templates/list.xhtml" xmlns="http://www.w3.org/1999/xhtml"
        xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
        xmlns:rf="https://ritmico.dev/jsf/components">

	<f:metadata>
		<f:viewAction action="#{dataTableWebBean.prepare}">
			<f:viewParam name="entityName" value="#{dataTableWebBean.entityName}"/>
		</f:viewAction>
	</f:metadata>

	<ui:define name="title">
		<h:outputText value="#{navmsg['classifier.continents']}" />
	</ui:define>

	<ui:define name="content">
		<h:panelGroup layout="block" styleClass="card-body">
			<rf:breadcrumbsPanel>
				<rf:breadcrumbsPath>
					<rf:breadcrumbsSegment value="#{navmsg['classifier.title']}" outcome="/classifiers/entry.xhtml"/>
					<rf:breadcrumbsSegment value="#{navmsg['classifier.continents']}" disabled="true"/>
				</rf:breadcrumbsPath>
				<rf:breadcrumbsAction outcome="creation.xhtml" title="#{actions['action.create']}">
					<f:param name="qualifier" value="countryWebFlow"/>
				</rf:breadcrumbsAction>
			</rf:breadcrumbsPanel>
			<h:dataTable id="data-table" var="item" value="#{dataTableWebBean.dataModel}" columnClasses="d-none,none,none,none,none,none,text-right" styleClass="table table-sm table-hover thead-light">
				<h:column headerClass="d-none">
					<f:facet name="header">
						<h:outputText value="#{msg['props.id']}" />
					</f:facet>
					<h:outputText value="#{item.id}" />
				</h:column>
				<h:column>
					<f:facet name="header">
						<h:outputText value="#{cmsg['props.name']}" />
					</f:facet>
					<h:outputText value="#{item.name}" />
				</h:column>
				<h:column>
					<f:facet name="header">
						<h:outputText value="#{cmsg['props.naturalId']}" />
					</f:facet>
					<h:outputText value="#{item.naturalId}" />
				</h:column>
				<h:column>
					<rf:actionDropDown itemId="#{item.id}">
						<h:outputText value="#{actions['action.edit']}" styleClass="dropdown-header"/>
						<h:link value="#{cmsg['contextMenu.properties']}" outcome="modification/common-properties.xhtml" styleClass="dropdown-item second">
							<f:param name="qualifier" value="continentWebFlow"/>
							<f:param name="flowStep" value="COMMONS"/>
							<f:param name="instanceId" value="#{item.id}"/>                                                   
						</h:link>
						<div class="dropdown-divider"></div>
						<h:link value="#{actions['action.remove']}" outcome="removing.xhtml" styleClass="dropdown-item">
							<f:param name="instanceId" value="#{item.id}"/>
							<f:param name="entityName" value="Continent"/>
						</h:link>
 					</rf:actionDropDown>
				</h:column>
			</h:dataTable>
		</h:panelGroup>
	</ui:define>

</ui:composition>