<ui:composition template="/templates/basic-template.xhtml" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:rf="https://ritmico.dev/jsf/components">

	<f:viewParam name="instanceId" value="#{removingBean.instanceId}"/>
	
	<ui:define name="title">
		<h:outputText value="#{i18nEntityName} → #{actions['action.removing']}" />
	</ui:define>

	<ui:define name="content">
		<h:panelGroup layout="block" styleClass="card-body">
			<h:form styleClass="clear-both">
				<h:panelGroup styleClass="form-group row" layout="block">
					<h:outputLabel for="detail-id" styleClass="col-sm-4 col-form-label" value="#{cmsg['props.id']}" />
					<h:panelGroup layout="block" styleClass="col-sm-8">
						<h:inputText id="detail-id" styleClass="form-control" readonly="true" value="#{removingBean.instance.id}" />
					</h:panelGroup>
				</h:panelGroup>
				<ui:include src="#{path}/include/read-only-props.xhtml"/>
				<rf:buttonsPanel>
					<h:commandButton styleClass="btn btn-info" value="#{actions['action.cancel']}" action="#{removingBean.outcome}">
						<f:ajax execute="@this" render="@none" listener="#{removingBean.cancel}" />
					</h:commandButton>
					<h:commandButton id="finish" styleClass="btn btn-info" value="#{actions['action.remove']}" action="#{removingBean.outcome}">
						<f:ajax execute="@this" render="@none" listener="#{removingBean.remove}"/>
					</h:commandButton>				
				</rf:buttonsPanel>				
			</h:form>
		</h:panelGroup>
	</ui:define>
	
	<ui:define name="left-sidebar">
		<h:panelGroup layout="block" styleClass="alert alert-warning small">
			<f:passThroughAttribute name="role" value="alert"/>
			<i class="fa fa-exclamation-triangle fa-fw" style="opacity: .75" aria-hidden="true"></i> <strong class="alert-heading">Внимание!</strong>
			<hr/>
			<h:outputText value="#{i18nEntityName} → #{actions['action.removing']}" />
			<br/>
			Данная операция безвозвратно удалит выбранный объект
			</h:panelGroup>
	</ui:define>		

</ui:composition>