<ui:insert name="form-group"/>

<ui:composition template="/management/templates/removing.xhtml" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:rf="https://ritmico.dev/jsf/components"
	xmlns:rfcc="http://xmlns.jcp.org/jsf/composite/rfcc">
	
	<ui:param name="i18nEntityName" value="#{mm['stereotype.entityName.plural']}" />
	
	<ui:define name="metadata">
		<f:metadata>
			<f:viewAction action="#{removingBean.begin}">
				<f:viewParam name="entityName" value="#{removingBean.entityName}"/>
				<f:viewParam name="instanceId" value="#{removingBean.instanceId}"/>
			</f:viewAction>
		</f:metadata>
	</ui:define>	
	
	<ui:define name="breadcrumbs">
		<rf:breadcrumbsSegment value="Management" disabled="true"/>
		<rf:breadcrumbsSegment value="Screen Resolutions" disabled="true"/>
		<rf:breadcrumbsSegment value="«#{removingBean.instance.initialWidth}x#{removingBean.instance.initialHeight}»" disabled="true"/>	
	</ui:define>
	
	<ui:define name="form-group">
		<rfcc:readonlyText name="initialWidth" label="Initial Width" value="#{removingBean.instance.initialWidth}"/>
		<rfcc:readonlyText name="initialHeight" label="Initial Height" value="#{removingBean.instance.initialHeight}"/>
		<rfcc:readonlyText name="modifiedWidth" label="Modified Height" value="#{removingBean.instance.modifiedWidth}"/>
		<rfcc:readonlyText name="modifiedHeight" label="Modified Height" value="#{removingBean.instance.modifiedHeight}"/>
	</ui:define>
	
</ui:composition>